@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
}
/* a blue color as a generic focus style */
/*button:focus-visible {*/
/*  outline: 2px solid #4a90e2 !important;*/
/*  outline: -webkit-focus-ring-color auto 5px !important;*/
/*}*/
a {
  text-decoration: none;
}

@font-face {
  font-family: "SF Pro Text-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6539d51e0dbdc65b57fa27ef/fonts/sf-pro-text-medium.otf")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Text-Semibold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6493ccb06d8287a214c6fd2e/fonts/fontsfree-net-sfprotext-semibold.ttf")
    format("truetype");
}
