:root {
  --label-colorlightsecondary: rgba(60, 60, 67, 0.6);
  --label-colorlightprimary: rgba(0, 0, 0, 1);
  --label-colordarkprimary: rgba(255, 255, 255, 1);
  --separator-colorlightwith-transparency: rgba(60, 60, 67, 0.36);
  --system-backgroundlightprimary: rgba(255, 255, 255, 1);
  --defaultsystembluelight: rgb(0, 123, 255);
  --system-backgroundlightsecondary: rgba(242, 242, 247, 1);
  --fill-colorlighttertiary: rgba(118, 118, 128, 0.12);
  --defaultsystembluedark: rgba(10, 132, 255, 1);
  --system-backgrounddark-elevatedsecondary: rgba(44, 44, 46, 1);
  --separator-colordarkwith-transparency: rgba(84, 84, 88, 0.65);
  --fill-colordarktertiary: rgba(118, 118, 128, 0.24);
  --label-colordarksecondary: rgba(235, 235, 245, 0.6);
  --system-backgrounddark-elevatedprimary: rgba(28, 28, 30, 1);
  --caption1-regular-font-family: "SFPro Text-Regular", Helvetica;
  --caption1-regular-font-weight: 400;
  --caption1-regular-font-size: 12px;
  --caption1-regular-letter-spacing: 0px;
  --caption1-regular-line-height: 16px;
  --caption1-regular-font-style: normal;
  --body-regular-font-family: "SFPro Text-Regular", Helvetica;
  --body-regular-font-weight: 400;
  --body-regular-font-size: 17px;
  --body-regular-letter-spacing: -0.40799999237060547px;
  --body-regular-line-height: 22px;
  --body-regular-font-style: normal;
  --body-bold-font-family: "SFPro Text-Semibold", Helvetica;
  --body-bold-font-weight: 400;
  --body-bold-font-size: 17px;
  --body-bold-letter-spacing: -0.40799999237060547px;
  --body-bold-line-height: 22px;
  --body-bold-font-style: normal;
}
